{% load static %}

<html>
    <head>
        <title></title> 
    </head>
    <body>
        <todo></todo>

        <script src="{% static 'todo.tag' %}" type="riot/tag"></script>
        <script src="{% static 'riot/riot+compiler.min.js' %}"></script>
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

        <script>
            // Note that the path doesn't matter right now; any WebSocket
            // connection gets bumped over to WebSocket consumers
            socket = new WebSocket("ws://127.0.0.1:8000/todo/");
            socket.onmessage = function(e) {
                console.log(e)
                console.log(e.data);
             }
            socket.onopen = function() {
                opts = {{ todos|safe}}

                socket.send(opts)
                    alert(opts)
            }
            
            opts = {{ todos|safe}}
            riot.mount('todo', opts)
        </script>

    </body>
</html>
