{% load static %}

<html>
    <head>
        <title></title> 
    </head>
    <body>
        <todo></todo>

        <script src="{% static 'todo.tag' %}" type="riot/tag"></script>
        <script src="{% static 'riot/riot+compiler.min.js' %}"></script>
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

        <script>
             // set up a WebSocket
            socket = new WebSocket("ws://127.0.0.1:8000/todo/");
            socket.onmessage = function(e) {
                   // console.log(e)
                   // console.log(riot)
                    console.log(riot.route.create)
                        riot.route.create({'todo': e.data})
                   // console.log(e)
            }

            riot.mount('todo')
        </script>

    </body>
</html>
