{% load static %}

<html>
    <head>
        <title></title> 
    </head>
    <body>
        <todo></todo>

        <script src="{% static 'todo.tag' %}" type="riot/tag"></script>
        <script src="{% static 'riot/riot+compiler.min.js' %}"></script>
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

        <script>
             // set up a WebSocket
            // initial tweets come from Django template tag
            var todos = {{ todos|safe }} 

            // Create a store instance.
            socket = new WebSocket("ws://127.0.0.1:8000/todo/");
            socket.onmessage = function(e) {
                console.log(e.data.text)
                alert(e.data.text)
                console.log(e.data.text)
            }
            opts = {{ todos|safe}}
            riot.mount('todo', opts)
        </script>

    </body>
</html>
